<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUNG SCIENTIST</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <!-- Logo -->
        <div class="logoBox">
            <div class="logoText"><h1>YOUNG SCIENTIST</h1></div>
            <div class="logoLine"></div>
        </div>
        <!-- Links -->
        <div class="links">
            <a href="">NEWS</a>
            <a href="">MESSAGES</a>
        </div>
        <!-- Icons -->
        <div class="icons">
            <i class="fa-solid fa-bell headerIcons"></i>
            <i class="fa-solid fa-bars headerIcons"></i>
        </div>
    </header>
    <main>
        <div class="sideImage"></div> <!-- !!! Needs to be first !!! -->
        <div class="notSideImage"></div>
        <div class="sideImage"></div> <!-- !!! Needs to be last !!! -->
    </main>
    <footer>
        <div class="footerContact">
            <p class="footerContactTxt">Contact us</p>
            <i class="fa-brands fa-instagram footerIcons"></i>
            <i class="fa-brands fa-x-twitter footerIcons"></i>
        </div>
    </footer>
    <!-- Script -->
    <script src="script.js"></script>
</body>
</html>