/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Color */
:root{
    --primary-color: #1C5D73;
    --secondary-color: #1B723E;
    --third-color: #4C5B6B;
    --link-color: #0084FF;
    --for-backdrop-images: #4c5b6bc3;
    --button-hover-color: #1a6e3c;
}

/* Style */
h1, h2, h3, p, a{font-family: Roboto Mono, 'Seoge UI';margin: 0px;}
a{text-decoration: none;color: var(--link-color);}
header, footer{background-color: var(--secondary-color);}
.normalLink{color: #000;}
.normalLink:hover{color: #242424;}

h1{font-weight: 700;font-size: 32px;}
h2{font-weight: 500;font-size: 26px;}
p{font-family: 400;font-size: 21px;}

#rFB:hover{cursor: pointer;background-color: var(--button-hover-color);}
#rFB{
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    font-family: Roboto Mono, 'Seoge UI';
    width: 200px;
    height: 30px;
    box-shadow: 3px 3px 5px #000000bb;
}

hr{background-color: var(--secondary-color);height: 10px;border: none;border-radius: 5px;margin: 40px 0 40px;}

body{margin: 0;min-height: 100vh;background-color: var(--primary-color);}

/* Header - Styling*/
header{width: 100%;height: 8vh;display: flex;}

/* Header - Logo */
.logoLine{width: 16vw;height: 3px;background-color: var(--primary-color);}
.logo{
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header - Links */
.headerText{font-size: 32px;}
.links{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    gap: 2vw;
}

/* Header - Icons */
.headerIcon{font-size: 4vh;}
.icons{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 2vw;
    padding-right: 30px;
}

/* Main - Styling */
main{width: 100%;min-height: 100vh;display: flex;justify-content: center;}

/* Main - Side Image */
.sideImage{
    width: 10vw;min-height: 100vh;
    background-image: url(../img/SidePicture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Main - Not Side Image */
.notSideImage{width: 80vw;min-height: 100vh;display: flex;flex-direction: column;}

/* Main - Herobanner */
.herobanner{width: 100%;height: 40vh;background-image: url(/img/Herobanner.jpg);background-position: center;background-size: cover;}

/* Main - Not Herobanner */
.notHerobanner{padding: 25px;}

/* Main - Recent Friends */
.recentFriends, .recentFriendsBox{width: 100%;}
.recentFriendsProfiles, .recentFriendsButton{width: 50%;}
.recentFriendsBox{display: flex;}

/* Main - Recent Friends - Profiles */
.recentFriendsProfile{display: flex; gap: 2vw;margin-top: 10px;}
.recentFriendProfileText{font-weight: 700;}
.recentFriendProfileIcon{font-size: 3vh;}

/* Main - Recent Friends - Button */
.recentFriendsButton{display: flex;align-items: center;justify-content: end;margin-right: 8vw;}

/* Main - Recent News */
.recentNews{width: 100%;}
.recentNewsContainer{width: 50%;background-color: var(--for-backdrop-images);border-radius: 5px;padding: 10px;}
.recentNewsBox1, .recentNewsBox2{display: flex;justify-content: center;gap: 13vw;margin: 0 0 10px;}

.recentNewsContainerImage{width: 100%;height: 40vh;background-size: cover;background-position: center;}


/* Applying Images */
.newsImage1{background-image: url(/img/Picture1.png);}
.newsImage2{background-image: url(/img/Picture2.png);}
.newsImage3{background-image: url(/img/Picture3.png);}
.newsImage4{background-image: url(/img/Picture4.png);}

/* Footer - Styling */
footer{width: 100%;height: 3vh;display: flex;justify-items: center;align-items: center;}

/* Footer - Contact */
.footerContact{height: 100%;width: 100%;display: flex;justify-content: center;align-items: center;gap: 2vw;}
.footerText{font-size: 20px;}
.footerIcons{font-size: 20px;}